body {
    background-color: #31378D;
    font-family: 'Roboto', sans-serif;
    color: white;
}

.logo {
    text-align: center;
  
}

.logo img {
    max-width: 200px;
    max-height: 200px;
    margin-top: 25px;
}


.items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-gap: 50px
}
   
.item p {
    background-color: #693B95;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: -5px;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    text-align: center;
}

.item {
    
    justify-self: center;
    margin-top: 10px;
}


.items img {
    max-width: 800px;
    max-height: 450px;
    
}

.item:hover {
    opacity: 0.8;
    color: #00A0C6;
}
a {
    text-decoration: none;
    color: inherit;
}

.nav{
    background-color: #693B95;
    color: white;
    list-style:none;
    margin:0;
    padding:0;
    text-align:center;
}
.nav li{
    display:inline;
    color: white;
}
.nav a{
    display:inline-block;
    padding:10px;
    color: inherit;
    text-decoration: none;
}

.nav a:hover {
    color:#00A0C6; 
    text-decoration:none; 
    cursor:pointer;  
}

.active a {
    color:#00A0C6; 
}


